/* .flex{
    display: flex;
    width: 100px;
    height: 100px;
    flex:2 2;
}

.grid{
    display: grid;
    grid-template-columns: 32px 32px 32px;
    grid-template-rows: 32px 32px 32px;
    grid-template-areas: 
        "aside aside aside"
        "main main main"
        "header header header";
    width: 100px;
    height: 100px;
}

header{
    grid-area: header;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
} */
